:root {
    --green: darkseagreen;
    --pink: orchid;
    --darkpink: darkmagenta;
    --white: #fff;
    --darkgreen: rgb(62, 128, 0);
    --grey: gray;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    padding: 1%;
    margin: 0 auto;
}

h1 {
    color: var(--white);
}

h2 {
    color: var(--darkgreen)
}

h3 {
    color: var(--grey)
}

nav ul {
    display: flex-end;
    justify-content: space-between;
    min-width: 300%;
    text-decoration: none;
    list-style-type: none;
}

nav a {
    color: var(--pink);
    font-weight: lighter;
    text-decoration: none;
}

nav a:hover {
    color: var(--darkpink);
}

html {
    scroll-behavior: smooth;
}

img {
    position: relative;
    display: flex center;
    max-width: 500px;
    size-adjust: auto;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 15vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    color: --grey;
}
#aboutme {
    display: flex wrap;
}

.thumbnail {
    height: 14vh;
    width: auto;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}

.thumbnail:hover {
    position: relative;
    height: 18vh;
    width: 75%;
    display: block;
}

@media screen and (max-width: 768px) {
    header,
    main {
        flex-direction: column;
    }
}

section {
    padding-right: 1;
}

footer {
    background-color: var(--green);
}