:root {
    --green: darkseagreen;
    --pink: orchid;
    --darkpink: darkmagenta;
    --white: #fff;
    --darkgreen: rgb(62, 128, 0);
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    padding: 1%;
}

h1 {
    color: var(--white);
}

h2 {
    color: var(--darkgreen)
}

nav ul {
    display: flex-end;
    justify-content: space-between;
    min-width: 300%;
    text-decoration: none;
}

nav a {
    color: var(--pink);
    font-weight: lighter;
    text-decoration: none;
}

nav a:hover {
    color: var(--darkpink);
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
    header,
    main {
        flex-direction: column;
    }
}

section {
    padding-right: 1;
}

footer {
    background-color: var(--green);
}